<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAMMI.CM.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.50.2;Initial Catalog=SK_MESDB_V1;Persist Security Info=True;User ID=sa;Password=S491@0341"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
