<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SAMMI.BM.Properties.Settings.ConnectionString" connectionString="Data Source=192.168.50.2;Initial Catalog=SK_MESDB_V1;User ID=sa;Password=S491@0341"
            providerName="System.Data.SqlClient" />
        <add name="SAMMI.BM.Properties.Settings.ClientSMSFDBConnectionString"
            connectionString="Data Source=|DataDirectory|\SK_MESDB_V1.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="SAMMI.BM.Properties.Settings.SMSFDB_V01ConnectionString"
            connectionString="Data Source=192.168.50.2;Initial Catalog=SK_MESDB_V1;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
